
.total-users-card {
  width: 300px;
  background: #fff;
}
.total-users-card .icon-display {
  transform: scale(4);
  color: darkslateblue;
}


.users-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.chart-card {
  max-width: 700px;
}

